/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: #fff;
}

nav .logo {
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #47b2e4;
}

.buttons {
    display: flex;
    gap: 40px;
}

.signin,.signup{
    padding: 10px 20px;
    border: 2px solid #47b2e4;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.signin:hover ,.signup:hover{
    background: #47b2e4;
}

.hero-section{
    width: 96%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 85vh;
}

.hero{
    width: 50%;
}

.hero h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p{
    font-size: 1.2rem;
    color: #c9c7c7;
    margin-bottom: 20px;
}

.hero .buttons{
    gap: 20px;
}

.hero .signin{
    background: #47b2e4;
}

.hero-img{
    width: 50%;
}

.hero-img img{
    width: 100%;
}